<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-color: white;
            }
            img{
                padding-left: 500px;
                margin-top: 50px;
                height:400px; 
                width:350px;
            }
            h1{
                padding-left: 500px;
            }
            p{
                padding-left: 500px;
                
            }
        </style>
    </head>
<body>


<img src={{MenJacket.image.url}}/>
<h1>
    Price: ${{MenJacket.price}}
</h1>
<p>
    Size: {{MenJacket.size}}
</p>
<p>
    <span>Color:</span>{{MenJacket.color}}
</p>
</body>
</html>