<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-color: white;
            }
            img{
                padding-left: 500px;
                margin-top: 50px;
                height:400px; 
                width:350px;
            }
            h1{
                padding-left: 500px;
            }
            p{
                padding-left: 500px;
                
            }
        </style>
    </head>
<body>




<img src={{MenPants.image.url}} style="height:400px; width:350px;"/>
<h1>
    Price: ${{MenPants.price}}
</h1>
<p>
    Size: {{MenPants.waist_size}}
</p>
<p>
    <span>Color:</span>{{MenPants.color}}
</p>
</body>
</html>